.section {
    .demo {
        color: $color;
        background-color: $bgClor;
        @media screen and (max-width: 992px) {
            font-size: 30px;
        }
    }

    .demo2 {
        color: $color;
    }

    .demo3 {
        p {
            color: $color;
            font: {
                size: 14px;
                weight: bold;
                style: italic;
            }

            &:hover {
                background-color: orange;
            }
        }
    }
}
