// TODO: -- color --
$whiteColor: #fff;
$blackColor: #000;
$primaryColor: #2699fb;

// TODO: -- animation --
$smooth: all 0.3s ease-in;

// TODO: -- font weight --
$light: 300;
$regular: 400;
$bold: 700;
