.community {
  width: 100%;
  min-height: 100vh;
  &__title {
    padding: 0 2rem;
    padding-top: 3rem;
    & h3 {
      font-size: 2.5rem;
      color: $primaryColor;
      font-weight: $bold;
    }
    & p {
      display: none;
    }
  }
}
