.footer {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: rgb(204, 47, 47);
  &__container {
    padding: 0 2rem;
    width: 100%;
    height: 100%;
    background-color: rgb(47, 204, 60);

    &--social {
      padding: 1.3rem 0;
      min-height: 12vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: rgb(37, 127, 168);

      & h3 {
        color: $primaryColor;
        font-size: 1.2rem;
        font-weight: $bold;
        margin-bottom: 0.5rem;
      }
      & ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        gap: 1rem;
      }
    }
    &--info {
      background-color: rgb(168, 89, 37);
      width: 100%;
      min-height: 88vh;
      & img {
        margin: 0 auto;
        padding-top: 0.5rem;
      }
    }
    &--list {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 2rem;
    }
    &--item {
      display: flex;
      flex-direction: column;
      gap: 1.2rem;
      & a {
        font-size: 1.2rem;
        font-weight: $bold;
        color: $whiteColor;
      }
    }
    &--copyright {
      & p {
        font-size: 1rem;
        font-weight: $regular;
        color: $whiteColor;
        text-align: center;
        margin-top: 5rem;
      }
    }
  }
}
