// TODO: -- import font --
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");

// TODO: -- reset --

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-family: "Montserrat", sans-serif;
  color: black;
  line-height: 1.5;
}
